{% extends 'customer/base.html' %}

{% block content %}

<div class="container mb-5">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 col-sm-12 offset-md-1 p-4 text-center">
            <h1>About Us!</h1>
        </div>
    </div>
    <div class="row justify-content-center mt-1">
        <div class="col-md-10 col-sm-12 offset-md-1 p-4 text-center">
           <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae voluptates magnam modi nulla libero eum distinctio culpa eos eius enim. Quae distinctio cumque hic assumenda eos vero soluta beatae adipisci doloribus aut odit voluptates vel, quaerat reiciendis nobis consequatur molestias qui magni modi ipsam in temporibus quod cum ducimus! Accusamus, possimus, rerum corporis pariatur quasi iste, quis maiores labore minima odit minus iure! Veritatis, error. Aut molestias ab quos dicta alias, assumenda perferendis accusantium culpa reiciendis! Numquam reiciendis soluta optio animi voluptatibus officiis officia placeat ea dolorem atque, cupiditate quo consequuntur deserunt enim, consectetur quidem laboriosam quia amet odit perferendis.</p>
           <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae voluptates magnam modi nulla libero eum distinctio culpa eos eius enim. Quae distinctio cumque hic assumenda eos vero soluta beatae adipisci doloribus aut odit voluptates vel, quaerat reiciendis nobis consequatur molestias qui magni modi ipsam in temporibus quod cum ducimus! Accusamus, possimus, rerum corporis pariatur quasi iste, quis maiores labore minima odit minus iure! Veritatis, error. Aut molestias ab quos dicta alias, assumenda perferendis accusantium culpa reiciendis! Numquam reiciendis soluta optio animi voluptatibus officiis officia placeat ea dolorem atque, cupiditate quo consequuntur deserunt enim, consectetur quidem laboriosam quia amet odit perferendis.</p>
           <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae voluptates magnam modi nulla libero eum distinctio culpa eos eius enim. Quae distinctio cumque hic assumenda eos vero soluta beatae adipisci doloribus aut odit voluptates vel, quaerat reiciendis nobis consequatur molestias qui magni modi ipsam in temporibus quod cum ducimus! Accusamus, possimus, rerum corporis pariatur quasi iste, quis maiores labore minima odit minus iure! Veritatis, error. Aut molestias ab quos dicta alias, assumenda perferendis accusantium culpa reiciendis! Numquam reiciendis soluta optio animi voluptatibus officiis officia placeat ea dolorem atque, cupiditate quo consequuntur deserunt enim, consectetur quidem laboriosam quia amet odit perferendis.</p>
        </div>
    </div>
</div>

{% endblock content %}
